{{#created}}
Date: {{{.}}}

{{/created}}
{{#phones}}
телефон: {{{number}}}
{{/phones}}
{{#emails}}
email: {{{address}}}
{{/emails}}
{{#messengers}}
{{{type}}}: {{{address}}}
{{/messengers}}
{{#titleCompanyTags}}

{{#titleCompany}}
{{title}}{{#company}}{{#title}}; {{/title}}{{{.}}}{{/company}}
{{/titleCompany}}
{{#tagsNotEmpty}}
Теги: {{#tags}}{{^first}}, {{/first}}{{{value}}}{{/tags}}
{{/tagsNotEmpty}}
{{/titleCompanyTags}}
{{#background}}

{{{.}}}
{{/background}}
