{{#phone}}
телефон: {{{.}}}
{{/phone}}
{{#skype}}
skype: {{{.}}}
{{/skype}}
{{#icq}}
icq: {{{.}}}
{{/icq}}

{{#title}}{{{.}}}{{#company}}; {{{.}}}{{/company}}{{/title}}
{{#tagsNotEmpty}}Теги: {{#tags}}{{^first}}, {{/first}}{{{value}}}{{/tags}}{{/tagsNotEmpty}}
{{#background}}

{{{.}}}
{{/background}}
